#contact-body {
  background-color: #122035;
  font-family: 'Oswald', sans-serif;
  height: 100vw;
}

#contact-desc {
  padding-top: 12vh;
  font-size: 50px;
  text-align: center;
  color: #f9f7ff;
}
