#curriculum-body {
  background-color: #8ee3f5;
  font-family: 'Oswald', sans-serif;
}

#heading-table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.top {
  font-size: 60px;
  color: #7e52a0;
  text-align: center;
}

#part1 {
  animation: textAppear 6s;
}

#part2 {
  animation: textAppear2 6s;
}

#part3 {
  animation: textAppear3 6s;
}

.desc {
  font-size: 30px;
  color: #012a36;
  width: 70vw;
  margin-left: 15vw;
  text-align: center;
}

.topics {
  display: inline-block;
  text-align: center;
  font-size: 30px;
  background-color: #b084cc;
  width: 35vw;
  margin-left: 10vw;
  margin-bottom: 100px;
}

.topics p {
  padding-left: 15px;
  padding-right: 15px;
}

.topic-table {
  width: 100%;
}

.topic-table td {
  padding: 10px 0px 10px 0px;
}

.popup {
  display: none;
}

.topic-table td:hover .popup {
  position: absolute;
  display: block;
  background-color: #012a36;
  color: white;
  width: 20vw;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
}

@keyframes textAppear {
  0% {
    opacity: 0;
  }
  16% {
    opacity: 0;
  }
  32% {
    opacity: 1;
  }
}

@keyframes textAppear2 {
  0% {
    opacity: 0;
  }
  48% {
    opacity: 0;
  }
  64% {
    opacity: 1;
  }
}

@keyframes textAppear3 {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  96% {
    opacity: 1;
  }
}
