#nav-bar {
  background-color: #6e3ba5;
  height:8vh;
  overflow:hidden;
}

.nav-link {
  display: inline-block;
  float: right;
  color: #efe3f4;
  text-decoration: none;
  padding: 2.5vh 15px 2.5vh 15px;
  font-family: 'Oswald', sans-serif;
}

.nav-link:hover {
  background-color: #efe3f4;
  color: #6e3ba5;
}
