#home-body {
  background-color: #122035;
  font-family: 'Oswald', sans-serif;
}

#title-block {
  height: 100vh;
  background-image: url("homeBack.jpg");
  background-size: 100% auto;
  background-position: top;
}

#title {
  font-size: 100px;
  color: #f9f7ff;
  text-align: center;
  padding-top: 25vh;
  margin-top: 0px;
}

#slogan {
  font-size: 50px;
  color: #f9f7ff;
  text-align: center;
}

#mission-block {
  text-align: center;
  width: 50vw;
  margin-left: 25vw;
}

.section-title {
  color: #f9f7ff;
  font-size: 60px;
}

#mission-block p {
  color: #f9f7ff;
  font-size: 40px;
}

#about-block {
  text-align: center;
}

#team-table {
  width: 70vw;
  margin-left: 15vw;
  color: #f9f7ff;
}

#team-table th {
  font-size: 40px;
  padding-bottom: 25px;
}

#team-table td {
  font-size: 30px;
  padding-bottom: 50px;
}
