#join-body {
  background-color: #122035;
  font-family: 'Oswald', sans-serif;
  height: 100vw;
}

#join-title {
  padding-top: 12vh;
  font-size: 50px;
  text-align: center;
  color: #f9f7ff;
}

#join-desc {
  color: #f9f7ff;
  text-align: center;
  font-size: 30px;
}
